
.input-container{
    display: flex;
    flex-direction: column;
    
    label{
        font-size: 1.4rem;
        font-weight: 700;
        color: black;
    }
    input{
        border-radius: 15px;
        padding: 5px 10px;
        font-size: 1.2rem;
        width: 300px;
    }
}