.card-container{
    display: flex;
    justify-content: space-between;
    background-image: url('https://e0.pxfuel.com/wallpapers/12/355/desktop-wallpaper-library-old-library.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    padding: 2rem;
    gap:2rem;
    .col-left{
        width:35%;
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
    }
    .col-right{
        width: 65%;
    }
    
    
    
}