.book-details-container{
    display: flex;
    gap: 1.5rem;
    background-color: #ef794f9c;
    border-radius: 25px;
    
    .col-left-details{
        width: 50%;
        height: 500px;
        padding: 10px;
        img{
            width: 100%;
            height: 100%;           
            object-fit: contain;
        }
    }
    .col-right-details{
        display: flex;
        flex-direction: column;
        row-gap: 1.5rem;
        padding: 10px;
        width: 50%;
        color: black;
        font-size: 1.5rem;
        font-weight: 500;
        .book-info{
            display: flex;
            justify-content: space-evenly;
            button{
                background-color: transparent;
                border-radius: 35px;
                padding: 3px 25px;
            }
            .link{
                color: #9d0505;
                font-weight: 800;
                font-size: 1.5rem;
                .cart{
                    font-size: 1.5rem;
                }
            }
        }
    }
}