header{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://t4.ftcdn.net/jpg/09/52/87/65/360_F_952876571_JIqJ8uunVp240dxSGclRbrNjjI4lH6f7.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(124, 191, 178);
    font-size: 6em;
    letter-spacing: 8px;
    font-weight: 700;
}